body {
  background-color: yellowgreen;
}
img {
  width: 150px;
}
div:not(#parent) {
  border: 3px solid black;
  background-color: antiquewhite;
  margin: 20px;
  padding: 15px 50px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: azure;
}
td,
th {
  width: 150px;
}
